@font-face { /* Mando llamar esta Fuente */
    font-family: MonserratFuenteCustom; /* Nombre de la Fuente personalizada */
    src: url(./fonts/Montserrat/Montserrat-Regular.ttf); /* Link de la fuente, ya que la hayamos descargado */
}

h1 { /* Estilos para el Titulo */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Mansalva', cursive; /* Fuente que se va a utilizar */
    font-style: italic; /* Estilo Cursiva */
    text-transform: uppercase; /* Que este en Mayuscula */
    font-size: 45px; /* Tamaño de la fuente */
    /* Colores */
    /* Colores del sistema */
    color: mediumpurple; /* Color de la fuente */
    /* Colores hexadecimales */
    color: #6753ca99; /* Mismo color en Hexagesimal */
    /* Colores RGB */
    color: rgb(255, 255, 107);
    /* Colores RGBA */
    color: rgba(90, 77, 120, 0.8); /* Mismo color en RGBA */
}

h3 { /* Estilos en el Subtitulo */
    font-family: MonserratFuenteCustom, Comic Sans MS; /* Tipo de Fuente */
    font-size: 35px; /* Tamaño de la Fuente */
    font-weight: lighter; /* Que el estilo de las letras sea delgado */
    color: olive; /* Color del texto */
}

p { /* Estilos en el Parrafo */
    font-family: sans-serif; /* Tipo de Fuente */
    font-size: 18px; /* Tamaño del Texto */
    font-weight: bold; /* Que este en Negritas */
}
footer{
    text-align: center;
    min-height: auto;
    background-color: black;
    color: white;
    font-size: 18px;
}

footer a { /* El hypervinculo de abajo en color rojo, solo el hypervinculo */
    color: blue; /* Color del texto */
    line-height: 30px;
}